.uspc-mini {
    bottom: 6px;
    box-sizing: border-box;
    line-height: 1.4;
    max-width: 600px;
    position: fixed;
    right: 6px;
    z-index: 101;
}
.uspc-mini.uspc-mini-opened {
    width: 100%;
}
.uspc-mini__im {
    animation-duration: .5s;
}
.uspc-mini__userlist {
    background: rgba(var(--uspRgb), .7);
    width: 54px;
}
.uspc-mini__count * {
    color: var(--uspWhite);
}
.uspc-mini__count > span {
    align-items: center;
    background: var(--uspHex);
    border-radius: 50%;
    display: flex;
    height: 20px;
    justify-content: center;
    font-size: 16px;
    padding: 0 !important;
    position: absolute;
    right: calc(50% - 9px);
    top: calc(50% - 9px);
    width: 20px;
}
.uspc-mini__count i {
    font-size: 42px;
}
.uspc-mini__person {
    cursor: pointer;
}
.uspc-mini__person img {
    border-radius: 0;
    padding: 0;
    vertical-align: inherit;
    width: 42px;
}
.uspc-mini-person__in {
    background: var(--uspWhite);
    font-size: 14px;
    padding: 6px;
    position: absolute;
    right: -3px;
    top: -3px;
    color: var(--uspRed-500);
}
.uspc-mini__hide .uspc-mini__contacts {
    display: none;
}
.uspc-mini-person__opened img {
    border: 1px solid var(--uspRed-300);
}
.uspc-mini__im .uspc-im {
    background: var(--uspWhite);
    box-shadow: var(--uspBox400);
    border: var(--uspLine300);
    margin-left: 12px;
}

#uspc-mini.uspc-on-left {
    left: 6px;
    right: auto;
}
