.uspc-userlist {
    margin: 12px 0;
    font-size: 16px;
    box-sizing: border-box;
}
.uspc-userlist__count {
    margin: 12px 6px;
}
.uspc-contact {
    margin: 12px 6px 18px;
    cursor: pointer;
    box-shadow: var(--uspBox100);
    border: var(--uspLine200);
}
.uspc-contact:hover {
    color: var(--uspGray-700);
}
.uspc-contact__link {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.uspc-contact__del.usp-bttn {
    display: none;
    right: 6px;
    padding: 3px;
    position: absolute;
    top: 6px;
    background: var(--uspBlack-07);
    z-index: 3;
}
.uspc-contact:hover .uspc-contact__del {
    color: var(--uspWhite);
    display: flex;
}
.uspc-contact__ava {
    margin: 12px;
}
.uspc-contact-ava__img {
    height: 50px;
    width: 50px;
}
.uspc-contact__ava > i {
    position: absolute;
    top: 0;
    right: 3px;
    border-radius: 50%;
}
.uspc-contact__ava > i.usp-online {
    background: var(--uspGreen-500);
}
.uspc-contact__ava > i.usp-offline {
    background: var(--uspRed-500);
}
.uspc_unread {
    margin: 18px 0 0;
}
.uspc_unread i {
    font-size: 36px;
    color: var(--uspHex);
}
.uspc_unread_count {
    position: absolute;
    top: -6px;
    right: -12px;
    color: var(--uspBlack);
    padding: 3px;
    min-width: 26px;
    min-height: 26px;
    background: var(--uspRed-200);
}
.uspc-contact__content {
    margin: 12px 12px 12px 0;
}
.uspc-contact__name {
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 6px;
}
.uspc-contact__time {
    font-size: 13px;
    margin: 0 18px 6px;
    color: var(--uspGray-500);
}
.uspc-contact__text {
    font-size: 15px;
    margin: 12px 6px 0;
}
.uspc-contact__you {
    margin: 0 12px 0 0;
}
.uspc-contact-you__img {
    width: 30px;
    height: 30px;
}
.uspc-contact__excerpt {
    padding: 6px 12px;
    line-height: 1.4;
}
.uspc-unread .uspc-contact__excerpt {
    background: var(--uspRed-50);
}

/* chat & pm */
.uspc-im {
    box-sizing: border-box;
    font-size: 16px;
}
.uspc-im__box {
    animation-duration: .5s;
}
.uspc-im__header {
    background: var(--uspGray-100);
    padding: 6px;
}
.uspc-im-header__title {
    font-size: 14px;
    margin: 6px;
}
.uspc-im-online__title {
    margin-right: 6px;
}
.uspc-im-online__items a {
    margin-right: 12px;
    text-decoration: underline;
    color: var(--uspBlue-700);
}
.uspc-im__talk {
    background: var(--uspWhite);
    border: var(--uspLine200);
    max-height: 70vh;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 6px 30px;
    box-sizing: border-box;
}
.uspc-post {
    animation-duration: .5s;
    margin: 24px 0;
}
.uspc-post__ava {
    margin: 0 12px;
}
.uspc-post__content {
    overflow: hidden;
    margin: 0 6px;
    border-radius: 6px;
    padding: 6px 12px;
    min-width: 150px;
    max-width: 70%;
    box-shadow: var(--uspBox100);
    box-sizing: border-box;
}
.uspc-post__name {
    margin: 6px 0;
    font-size: 14px;
    color: var(--uspGray-500);
}
.uspc-post__message iframe {
    display: block;
    margin: 12px auto;
    max-width: 100%;
    width: auto;
}
.uspc-post__message img.emoji, 
.uspc-post__message img.wp-smiley {
    height: 24px !important;
    vertical-align: middle !important;
    width: 24px !important;
}
.uspc-post-message__file {
    margin-top: 12px;
    padding: 6px;
    background: var(--uspGray-100);
}
.uspc-post-message__file-image {
    text-align: center;
}
.uspc-post__img {
    max-height: 100vh;
}
.uspc-post-message__file-archive img {
    width: 30px;
}
.uspc-post-message__file span {
    margin: 0 12px 0 18px;
}
.uspc-post__time {
    font-size: 13px;
    color: var(--uspGray-500);
    margin: 6px 0;
}
.uspc-post__do {
    margin: 0 6px;
}
.uspc-post__do > * {
    border: 0;
    opacity: 0;
}
.uspc-post__do > *:not(:last-child) {
    margin-bottom: 36px;
}
.uspc-post:hover .uspc-post-do__bttn {
    opacity: .7;
}
.uspc-post__saved .uspc-post-do__important,
.uspc-post .uspc-post-do__bttn:hover,
.uspc-post:hover .uspc-post-do__delete {
    opacity: 1;
}
.uspc-post__saved .fa-star::before {
    content: "\f006";
}
.uspc-im__footer {
    overflow: hidden;
    min-height: 32px;
}
.uspc-im__writes {
    bottom: 0;
    height: 18px;
    left: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0;
    color: var(--uspGray-500);
    margin: 12px 0;
}
.uspc-im__writes span {
    display: inline-block;
    position: absolute;
    right: 0;
}
.uspc-im-form__meta {
    position: absolute;
    right: 3px;
    top: 6px;
}
.uspc-im .uspc-chat-uploader.usp-bttn {
    color: var(--uspBlue-700);
    font-size: 22px;
    margin-top: 18px;
}
.uspc-im .uspc-chat-uploader input {
    bottom: 0;
    cursor: pointer;
    height: 26px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 22px;
    font-size: 0;
}
.uspc-im .uspc-im-form__textarea {
    min-height: 86px;
    margin: 0 36px 6px 0;
    width: calc(100% - 36px);
}
.uspc-im-form__sign-count {
    font-size: 14px;
}
.uspc-im-form__send {
    margin-right: 36px;
}

/*general chat*/
.uspc-chat-general {
    border: var(--uspLine200);
    background: var(--uspGray-75);
}
.uspc-chat-general .uspc-im__talk {
    margin-left: 12px;
}
.uspc-chat-general .uspc-im__footer {
    margin: 0 6px 0 12px;
}
.uspc-chat-general .uspc-im__form {
    margin: 0 6px 12px 12px;
}

@media screen and (max-width:768px) {
    .usp-bttn.uspc-contact__del {
        display: flex;
    }
}
